<nav class="navbar bg-dark navbar-expand-lg ">
    <a class="navbar-brand" href="#"><strong>Task-II</strong></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
   <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="narbar-nav">
            <li class="nav-item mb-4 mb-md-0 mb-lg-0">
                <a class="nav-link btn btn-info mb-4 mx-2 text-white" routerLink="radioForm">RadioForm</a>
            </li> 
            <li class="nav-item mb-4 mb-md-0 mb-lg-0">
                <a class="nav-link btn btn-warning text-white" routerLink="droupDownForm">DropDDownForm</a>
            </li>
        </ul>
   </div>
  </nav>
